src/main/mule/implementation/get-voyageInfo/get-voyageInfo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mf-get-voyageInfo" doc:id="b845bf13-51b7-45ef-99d0-9dd6e6a21262" >
		<ee:transform doc:name="DW SET GET Composite Query Payload" doc:id="b1466ffc-52f4-42b1-8426-415bc3ab05bb" >
			<ee:message >
				<ee:set-payload resource="dwl/get-voyageInfo/p-composite-request-voyageInfo.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Refer to cf-common-salesforce-composite" doc:id="8a06c079-6835-48aa-b5a2-263b3216a3a3" name="cf-common-salesforce-composite"/>
		<ee:transform doc:name="DW SET Response Payload" doc:id="c00ee156-2750-47f2-806f-697feab6a6e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(((payload.compositeResponse filter $.referenceId == 'Voyage__c').body.records))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="voyageInfo-common-error-handler" />
	</flow>
</mule>
